# EditorConfig: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[{*.rb,Gemfile,Guardfile,config.ru}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
vim_filetype = ruby

[*.coffee]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.scss]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
