[project]
	description = Simple JS app to show you what date is 40 (or any) days in the future.
[access "refs/*"]
	owner = group user/Christian Höltje (docwhat)
[access "refs/for/refs/*"]
	read = group user/Christian Höltje (docwhat)
	push = group user/Christian Höltje (docwhat)
	label-Code-Review = -2..+2 group user/Christian Höltje (docwhat)
	label-Verified = -1..+1 group user/Christian Höltje (docwhat)
	rebase = group user/Christian Höltje (docwhat)
	removeReviewer = group user/Christian Höltje (docwhat)
	submit = group user/Christian Höltje (docwhat)
[access "refs/heads/*"]
	read = group user/Christian Höltje (docwhat)
	create = group user/Christian Höltje (docwhat)
	push = +force group user/Christian Höltje (docwhat)
	pushMerge = group user/Christian Höltje (docwhat)
[access "refs/tags/*"]
	push = +force group user/Christian Höltje (docwhat)
	pushTag = group user/Christian Höltje (docwhat)
	pushSignedTag = group user/Christian Höltje (docwhat)
